body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.div1 {
  text-align: center;
}
.div2 {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-size: 25px;
}

.img1 {
  height: 250px;
  width: 250px;
}

.img2 {
  height: 100px;
  width: 100px;
}

button {
  position: relative;
  padding: 1em;
  color: black;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em black;
  background-color: green;
  border: solid 0.25em green;
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  transition: all 0.3em;
}

button:hover{
  color: black;
  background-color: greenyellow;
}

button:active{
  box-shadow: 0 0 0.6em 0.25em green;
}